@{
	ViewData["Title"] = "NotAuthorized";
}

<br />
<br />
<div class="row">
	<div class="col-md-4 offset-4">
		<img src="~/images/golang.png" />
	</div>
	<div class="col-md-8 offset-2"> 
		<h2>No estas autorizado para ejecutar esta acción!</h2>
	</div>
</div>

